{% extends 'base.html' %}

{% block title%}
    Edit User
{% endblock %}

{% block content%}

{%if user.is_authenticated%}
        <h1>Update User</h1>
        <br/>
        <div class="form-group">
            <form method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success dropdown-toggle">Update</button>
        </div>
        <br/>
        <a href= "{% url 'change_password' %}" class="btn btn-warning dropdown-toggle">Change Password</a>
{%else%}
    <strong>You Shall Not Pass!!</strong>
{%endif%}

{% endblock %}
