{% extends 'base.html' %}

{% block title%}
    Add post
{% endblock %}

{% block content%}
{%if user.is_authenticated%}
    <h1>Add Post</h1>
    <br/>
    <div class="form-group">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn btn-success dropdown-toggle">Post</button>
        </div>
        <script>
            var name = "{{user.id}}";
            document.getElementById("author_form").value = name;
        </script>
{%else%}
    <strong>You Shall Not Pass!!</strong>
{%endif%}


{% endblock %}
