{% extends 'base.html' %}

{% block title%}
    {{post.title_tag}}
{% endblock %}

{% block content%}

<h3> {{post.title}} </h3>
<br/>
<h5> Category: {{post.category}}</h5>

<h5>By: {{post.author}} Created: {{post.publicated}}</small> <br/>
<hr>
{{post.body|safe}}
<br/><br/><br/>
{%if user.is_authenticated%}
    {%if user == post.author%}
        <a href= "{% url 'update_post' post.pk %}" class="btn btn-warning dropdown-toggle">Edit</a>
        <a href= "{% url 'delete' post.pk %}" class="btn btn-danger dropdown-toggle">Delete</a>
    {%endif%}
{%endif%}
<a href= "{% url 'home' %}" class="btn btn-success dropdown-toggle">Back</a>
<br/>
<hr>
<br/>

<div>
    <form action="{% url 'like_post' post.pk %}"
    method="POST">
        {%csrf_token%}
        <button type='submit' class="btn btn-primary" >Like</button>

    </form>
    <form action="{% url 'unlike_post' post.pk %}"
    method="POST">
        {%csrf_token%}
        <button type='submit' class="btn btn-danger">Unlike</button>
    </form>
    {{total_likes}} likes
</div>
{% endblock %}


