{% extends 'base.html' %}
{% load static %}

{% block title%}
    {{post.title_tag}}
{% endblock %}

{% block content%}

<h3> {{post.title}} </h3>
<br/>
<h5> Category: {{post.category}}</h5>

<h5>By: {{post.author}} Created: {{post.publicated}}</small> <br/>
<hr>

{%if post.header_image%}
    <img src="{{post.header_image.url}}"><br/>
{%endif%}
{{post.body|safe}}
<br/><br/><br/>
{%if user.is_authenticated%}
    {%if user == post.author%}
        <a href= "{% url 'update_post' post.pk %}" class="btn btn-warning dropdown-toggle">Edit</a>
        <a href= "{% url 'delete' post.pk %}" class="btn btn-danger dropdown-toggle">Delete</a>
    {%endif%}
{%endif%}
<br/>

{%if user.is_authenticated%}
    <div>
        <form action="{% url 'like_post' post.pk %}"
        method="POST">
            {%csrf_token%}
            {%if liked%}
                <button type='submit' class="btn btn-danger" >Unike</button>
            {%else%}
                <button type='submit' class="btn btn-primary" >Like</button>
            {%endif%}
        </form>
        <br/>
    </div>
{%endif%}
{{total_likes}} likes
<hr>
<br/>
<a href= "{% url 'home' %}" class="btn btn-success dropdown-toggle">Back</a>
<br/><br/>



  <div class="container">
    <div class="row" >
      <div class="col-md-2">
        {%if post.author.profile.profile_image%}
            <img src="{{ post.author.profile.profile_image.url }}" alt="" class="img-circle img-responsive">
        {%else%}
            <img src="{% static 'members/images/def_pic.png' %}" alt="" class="img-circle img-responsive">
        {%endif%}
        </div>
      <div class="col-md-5">
        <table class="table table-bordered">
            <tr>
                <th>First Name</th>
                <td>{{post.author.first_name }}</td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td>{{post.author.last_name }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{post.author.email }}</td>
              </tr>
              <tr>
                <th>LinkedIn</th>
                <td>{{post.author.profile.linkedIn }}</td>
              </tr>
            </table>
      </div>
    </div>
  </div>

{% endblock %}



