{% extends 'base.html' %}

{% block title%}
    Delete
{% endblock %}

{% block content%}

<h1>Update Post</h1>
<br/>
<h3> Delete Post: {{post.title}}

{%if user.is_authenticated%}
    {%if user == post.author%}
        <div class="form-group">
            <form method='POST'>
                {% csrf_token %}
                <strong>Are You sure?</strong>
                <button class="btn btn-danger dropdown-toggle">Delete</button>
            </div>
    {%endif%}
{%else%}
    <strong>You Shall Not Pass!!</strong>
{%endif%}

{% endblock %}
